@model ReviewSite.Models.CourseAndUserReview
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Details.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Ubuntu" rel="stylesheet">
    <title>Details</title>

    <script type="text/javascript">
        function SwapDivsWithClick(div1, div2) {
            d1 = document.getElementById(div1);
            d2 = document.getElementById(div2);

            d1.style.display = "none";
            d2.style.display = "block";
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".course-nav li").click(function (e) {
                e.preventDefault();
                $(".course-nav li").removeClass("selected");
                $(this).addClass("selected");
            });
        });

/**/</script>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class="navbar">
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Course">Courses</a></li>
                    <li><a href="/Category">Categories</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="content">
                <h1 class="course-title">@Model.Course.Title</h1>
                <div class="course-rating">
                    @for (int i = 0; i < Model.Course.SolidStars(); i++)
                    {
                        <i class="fas fa-star fa-2x"></i>
                    }
                    @for (int i = 0; i < Model.Course.HalfStars(); i++)
                    {
                        <i class="fas fa-star-half-alt fa-2x"></i>
                    }
                    @for (int i = 0; i < Model.Course.EmptyStars(); i++)
                    {
                        <i class="far fa-star fa-2x"></i>
                    }
                    <span class="num-reviews">(@Model.Course.UserReviews.Count())</span>
                </div>
                <ul class="course-nav">
                    <li onclick="SwapDivsWithClick('course-user-reviews','course-overview');" class="overview-link selected">Overview</li>
                    <li onclick="SwapDivsWithClick('course-overview','course-user-reviews');" class="reviews-link">Reviews</li>
                </ul>
                <div class="course-content">
                    <div class="course-overview" id="course-overview">
                        <p>
                            @Model.Course.Overview
                        </p>
                    </div>
                    <div class="course-user-reviews" id="course-user-reviews">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="user-review-card">
                                <div class="user-review-header">
                                    <img class="user-review-img" src="~/Images/useravatar.png" />
                                    <div class="name-rating">
                                        <span class="user-review-name">
                                            <label asp-for="NewUserReview.UserName" class="control-label"></label>
                                            <input asp-for="NewUserReview.UserName" class="form-control"  />
                                            <span asp-validation-for="NewUserReview.UserName" class="text-danger"></span>
                                        </span>

                                        <div class="user-review-rating">

                                            <div class="form-group">
                                                <label asp-for="NewUserReview.Rating" class="control-label"></label>
                                                <input asp-for="NewUserReview.Rating" class="form-control" />
                                                <span asp-validation-for="NewUserReview.Rating" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="user-review-comment">
                                    @{
                                        Model.NewUserReview.CourseId = Model.Course.CourseId;
                                    }
                                    <div class="form-group">
                                        <label asp-for="NewUserReview.Comment" class="control-label"></label>
                                        <input asp-for="NewUserReview.Comment" class="form-control"  />
                                        <span asp-validation-for="NewUserReview.Comment" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        
                                        <input type="hidden" asp-for="NewUserReview.CourseId" class="form-control" placeholder="@Model.Course.CourseId" />
                                        

                                    </div>
                                </p>
                                <div class="form-group">
                                    
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </form>
                        @foreach (var userReview in Model.Course.UserReviews)
                        {
                            <div class="user-review-card">
                                <div class="user-review-header">
                                    <img class="user-review-img" src="~/Images/useravatar.png" />
                                    <div class="name-rating">
                                        <span class="user-review-name">@userReview.UserName</span>
                                        <div class="user-review-rating">
                                            @for (int i = 0; i < userReview.SolidStars(); i++)
                                            {
                                                <i class="fas fa-star"></i>
                                            }
                                            @for (int i = 0; i < userReview.HalfStars(); i++)
                                            {
                                                <i class="fas fa-star-half-alt"></i>
                                            }
                                            @for (int i = 0; i < userReview.EmptyStars(); i++)
                                            {
                                                <i class="far fa-star"></i>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <p class="user-review-comment">@userReview.Comment</p>
                            </div>
                        }
                    </div>

                </div>
            </div>

            <aside>
                <img class="post-img" src="@Model.Course.ImageURL" />
                <div class="post-details">
                    <p><span>Category: </span>@Model.Course.Category.Name</p>
                    <p><span>Start Date: </span>@Model.Course.StartDate</p>
                    <p><span>Duration: </span>@Model.Course.Duration</p>
                    <p><span>Price: </span>FREE</p>
                </div>
            </aside>
        </main>
        <footer></footer>
    </div>
</body>
</html>

